# === MAC ===================
.DS_Store

# === Android Studio ========
.idea/
*.iml
local.properties
.externalNativeBuild
.cxx
/captures
.gradle/
build/
*.apk
*.aab

# ====== OTHER ==========
Release/





